<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycjd.payslip.dao.worker.IDeptDao">
    <!--########################################################generated code start,do not update################################################################-->
    <sql id="projection">
        <choose>
             <when test="pager!=null and pager.includes!=null">
                 <foreach collection="pager.includes" item="field" separator=",">
                     T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(field)}
                 </foreach>
             </when>
             <when test="pager!=null and pager.excludes!=null">
                 <trim suffixOverrides=",">
                         <if test="!pager.excludes.contains('id')">
                             T.id,
                         </if>
                         <if test="!pager.excludes.contains('deptName')">
                             T.dept_name,
                         </if>
                         <if test="!pager.excludes.contains('parentId')">
                             T.parent_id,
                         </if>
                         <if test="!pager.excludes.contains('level')">
                             T.level,
                         </if>
                         <if test="!pager.excludes.contains('leaf')">
                             T.leaf,
                         </if>
                         <if test="!pager.excludes.contains('path')">
                             T.path,
                         </if>
                         <if test="!pager.excludes.contains('sort')">
                             T.sort,
                         </if>
                         <if test="!pager.excludes.contains('createTime')">
                             T.create_time,
                         </if>
                         <if test="!pager.excludes.contains('updateTime')">
                             T.update_time,
                         </if>
                 </trim>
             </when>
             <otherwise>
                 T.*
             </otherwise>
         </choose>
    </sql>
    <sql id="match">
        <where>
              <if test="id!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='id'">
                             T.id like concat('%',#{id},'%')
                         </when>
                         <otherwise>
                             T.id=#{id}
                         </otherwise>
                      </choose>
              </if>
              <if test="deptName!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='deptName'">
                            and T.dept_name like concat('%',#{deptName},'%')
                         </when>
                         <otherwise>
                            and T.dept_name=#{deptName}
                         </otherwise>
                      </choose>
              </if>
              <if test="parentId!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='parentId'">
                            and T.parent_id like concat('%',#{parentId},'%')
                         </when>
                         <otherwise>
                            and T.parent_id=#{parentId}
                         </otherwise>
                      </choose>
              </if>
              <if test="level!=null">
                    and T.level=#{level}
              </if>
              <if test="leaf!=null">
                    and T.leaf=#{leaf}
              </if>
              <if test="path!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='path'">
                            and T.path like concat('%',#{path},'%')
                         </when>
                         <otherwise>
                            and T.path=#{path}
                         </otherwise>
                      </choose>
              </if>
              <if test="sort!=null">
                    and T.sort=#{sort}
              </if>
              <if test="createTime!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='createTime'">
                            and T.create_time like concat('%',#{createTime},'%')
                         </when>
                         <otherwise>
                            and T.create_time=#{createTime}
                         </otherwise>
                      </choose>
              </if>
              <if test="updateTime!=null">
                    <choose>
                         <when test="pager!=null and pager.like=='updateTime'">
                            and T.update_time like concat('%',#{updateTime},'%')
                         </when>
                         <otherwise>
                            and T.update_time=#{updateTime}
                         </otherwise>
                      </choose>
              </if>
            <if test="pager!=null and pager.rangeField!=null and pager.rangeArray!=null and pager.rangeArray.length==2">
                <foreach collection="pager.rangeArray" item="item"  index="i">
                    <if test="i==0 and item!=null">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &gt;= #{item}
                    </if>
                    <if test="i==1 and item!=null">
                        and ${@cn.hutool.core.util.StrUtil@toUnderlineCase(pager.rangeField)} &lt;= #{item}
                    </if>
                </foreach>

            </if>
        </where>
    </sql>
    <sql id="sort">
        <if test="pager!=null and pager.sortField!=null and pager.sortOrder!=null">
            order by
            <foreach collection="pager.sortField.split(',')" item="s" index="i" separator=",">
                T.${@cn.hutool.core.util.StrUtil@toUnderlineCase(s)} ${pager.sortOrder.split(',')[i]}
            </foreach>
        </if>
    </sql>
    <sql id="page">
        <if test="pager!=null and  pager.paging">
            limit #{pager.beginRow},#{pager.pageSize}
        </if>
    </sql>


    <select id="findDeptListByCondition" parameterType="Dept" resultType="Dept">
        select
         <include refid="projection"/>
         from dept T
         <include refid="match"/>
         <include refid="sort"/>
         <include refid="page"/>


    </select>
    <select id="findDeptCountByCondition" parameterType="Dept" resultType="long">
        select count(*) from dept T
        <include refid="match"/>
    </select>
    <select id="findDeptById" resultType="Dept">
        select * from dept where id=#{id}
    </select>
    <select id="findOneDeptByCondition" parameterType="Dept" resultType="Dept">
        select
         <include refid="projection"/>
         from dept T
        <include refid="match"/>
    </select>
    <insert id="saveDept" parameterType="Dept">
        insert into dept
         (
            id,
            dept_name,
            parent_id,
            level,
            leaf,
            path,
            sort,
            create_time,
            update_time
        ) values
         (
                #{id}
                ,
                #{deptName}
                ,
                #{parentId}
                ,
                #{level}
                ,
                #{leaf}
                ,
                #{path}
                ,
                #{sort}
                ,
                now()
                ,
                #{updateTime}
                
         )
    </insert>
    <update id="updateDept" parameterType="Dept">
        update dept
        <set>
                    <if test="deptName!=null ">
                        dept_name=#{deptName},
                    </if>
                    <if test="parentId!=null ">
                        parent_id=#{parentId},
                    </if>
                    <if test="level!=null ">
                        level=#{level},
                    </if>
                    <if test="leaf!=null ">
                        leaf=#{leaf},
                    </if>
                    <if test="path!=null ">
                        path=#{path},
                    </if>
                    <if test="sort!=null ">
                        sort=#{sort},
                    </if>
                    <if test="createTime!=null ">
                        create_time=#{createTime},
                    </if>
                    update_time=now()
          </set>
         where id=#{id}
    </update>
    <delete id="deleteDept" >
        delete from dept where id=#{id}
    </delete>
    <delete id="deleteDeptByCondition" >
        delete T from dept T
        <include refid="match"/>
    </delete>
    <insert id="batchSaveDept" parameterType="Dept">
        INSERT INTO dept (  id,  dept_name,  parent_id,  level,  leaf,  path,  sort,  create_time,  update_time )
        VALUES
        <foreach collection="list" item="dept" separator=",">
            (  #{dept.id},  #{dept.deptName},  #{dept.parentId},  #{dept.level},  #{dept.leaf},  #{dept.path},  #{dept.sort},  #{dept.createTime},  #{dept.updateTime}  )
        </foreach>
    </insert>
    <!--##################################################generated code end,do not update######################################################################-->
	
    <select id="findDeptByParentId" parameterType="Dept" resultType="Dept">
       select * from dept where parent_id=#{parentId}
    </select>
</mapper>